build
.gitbak
*/.idea
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
Pixo/local.properties
*/*.so
*/*.so.*
*/*.pyc
*/pyxlib.egg-info
*/__pycache__/
